
<h1>
    Assignment - 4 : 
</h1><table>
    <tr>
        <td>
            <div class="one" *ngFor="let number of mul">
                {{number}} * 1 = {{getMultiplication(1,number)}}
            </div>
        </td>
        <td>
            <div class="two" *ngFor="let number of mul">
                {{number}} * 2 = {{getMultiplication(2,number)}}
            </div>
        </td>
        <td>
            <div class="three" *ngFor="let number of mul">
                {{number}} * 3 = {{getMultiplication(3,number)}}
            </div>
        </td>
        <td>
            <div class="four" *ngFor="let number of mul">
                {{number}} * 4 = {{getMultiplication(4,number)}}
            </div>
        </td>
        <td>
            <div class="five" *ngFor="let number of mul">
                {{number}} * 5 = {{getMultiplication(5,number)}}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="six" *ngFor="let number of mul">
                {{number}} * 6 = {{getMultiplication(6,number)}}
            </div>
        </td>
        <td>
        <div class="seven" *ngFor="let number of mul">
            {{number}} * 7 = {{getMultiplication(7,number)}}
        </div>
        </td>
        <td>
            <div class="eight" *ngFor="let number of mul">
                {{number}} * 8 = {{getMultiplication(8,number)}}
            </div>
        </td>
        <td>
            <div class="nine" *ngFor="let number of mul">
                {{number}} * 9 = {{getMultiplication(9,number)}}
            </div>
        </td>
        <td>
            <div class="ten" *ngFor="let number of mul">
                {{number}} * 10 = {{getMultiplication(10,number)}}
            </div>
        </td>
    </tr>
</table>