<!-- Latest compiled and minified CSS -->
<!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">--->

<!-- jQuery library -->
<!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>--->

<!-- Latest compiled JavaScript -->
<!---<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"></script>
<base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">--->
  <!-- Latest compiled and minified CSS -->
<!---<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">--->


<!-- Latest compiled JavaScript -->
<!---<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">--->

<div >
    <div class="card card-responsive shadow p-3 mb-5 bg-white rounded ">
        <div class="card-header" style="margin-top:90px;" >


            <img src="./assets/e.PNG"  style="width:100%;height:230px;margin-top:0px;">
        </div>
        <div class="card-body">
            <div class="row" style="margin-top:80px">
                <div class="col">
                    <h5 style="font-size:30px;"><b>Apple-Medium</b></h5>
                </div>
                <div class="row" style="margin-top:-34px;">
                    <b style="margin-top:100px;margin-left:310px;">$20.25 </b>
                </div>
            </div>


            <div class="row" style="margin-top:35px">
                <div class="col">
                    <h6>Quantity - 1 +</h6>
                </div>
                <div class="col" style="margin-top:-30px;margin-left:310px;">
                    <p>10kg</p>
                </div>
            </div>
            <div class="row" style="margin-top:35px">
                    <h6>Delivery time</h6>
                   
            </div>
            <div style="margin-top:10px;margin-left:10px;" >
            <i class="fa fa-clock" aria-hidden="true" style="margin-top:10px;margin-left:-30px;"></i> &nbsp;&nbsp; <font style="font-size:small;margin-top:30px;margin-left:10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
              </svg> 20-30 min</font>
           </div>
            <div style="margin-top:25px;margin-left:-15px;">
                <p>Review <!---<i style="margin-left:180px;color:#f99b5d" class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i>
                    <i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i>---></p>
            </div>
            <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="margin-top:-31px;margin-left:250px;">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
</div>
            <div style="margin-top:45px;margin-left:-15px;">
                <h6>Product Details</h6>
                <font style="font-size: small;">It is long established fact that a reader will be distracted  by the readable content of a page
                when looking at its layout.
                </font>
            </div>
            <div style="margin-top:80px;margin-left:100px;border-radius:30px;">
                <button class="btn" style="background-color:#EB7123;border-radius:50px;border-radius:80px;width:180px;height:50px;text-align:center;margin-left:-51px;margin-top:-40px;"><font color="white">Add to cart</font></button>
            </div>
        </div>
        <div class="card-footer">
            <div class="bottom" ><i  class="fa fa-home" style="margin-left:-50px;font-size:40px;"aria-hidden="true"></i> <i style="margin-left:55px;font-size:40px;color:#EB7123" class="fa fa-cart-plus" aria-hidden="true"></i>  
                <i style="margin-left:55px;font-size:40px;" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px;font-size:40px;" class="fa fa-user-circle" aria-hidden="true"></i> </div>
            </div>
    </div>
</div>
