<h1>Welcome to angular</h1>
<p><b>String interpolation</b></p>
 Employee id:{{empid}}
<br>
<br>

<input type="text" value="{{email}}"><br>
<br>


 Addition of 10 and 20:<input type="text" value="{{getaddition(10,20)}}">
 <app-child-property></app-child-property>
 <app-child-event></app-child-event>
 <app-childtwoway></app-childtwoway>
 <app-child-struct></app-child-struct>
 <app-factorial></app-factorial>
 <app-child-attribute></app-child-attribute>
 <app-child-emp-info></app-child-emp-info>
 <app-form></app-form>
 <app-reactiveform></app-reactiveform>
 