.myStyle1{
    color:yellow;
    background-color:grey;
    font-size:bold;
}
.myStyle2{
    color:rgb(25, 8, 73);
    background-color:rgb(228, 99, 99);
    font-size:bold;
}
.myStyle3{
    color:rgb(218, 19, 29);
    background-color:rgb(139, 118, 118);
    font-size:bold;
}
