

    <div class="tab">
        <b>Factorial</b>
        <br>
    <table>
        <tr>
            <th><b>Number</b></th>
            <th><b>Factorial</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{getfactorial(1)}}</td>
        </tr>
        <tr>
            <td>2</td>
            <td>{{getfactorial(2)}}</td>
        </tr>
        <tr>
            <td>3</td>
            <td>{{getfactorial(3)}}</td>
        </tr>
        <tr>
            <td>4</td>
            <td>{{getfactorial(4)}}</td>
        </tr>
        <tr>
            <td>5</td>
            <td>{{getfactorial(5)}}</td>
        </tr>
        <tr>
            <td>6</td>
            <td>{{getfactorial(6)}}</td>
        </tr>
        <tr>
            <td>7</td>
            <td>{{getfactorial(7)}}</td>
        </tr>
        <tr>
            <td>8</td>
            <td>{{getfactorial(8)}}</td>
        </tr>
        <tr>
            <td>9</td>
            <td>{{getfactorial(9)}}</td>
        </tr>
        <tr>
            <td>10</td>
            <td>{{getfactorial(10)}}</td>
        </tr>
    </table>
    <br>
    <b>Using NGFor</b>
    <table>
        <tr>
            <th>Number</th>
            <th>Fact</th>
        </tr>
        <tr *ngFor="let list of listValue">
            <td>{{list}}</td>
            <td>{{getfactorial(list)}}</td>
        </tr>

    </table>
</div>