<div class="grid text-center">
    <table>
        <tr *ngFor="let m of table">
            <td>1x{{m}}={{getmulti(m,1)}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let m of table">
            <td>2x{{m}}={{getmulti(m,2)}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
</div>