.example-spacer {
    flex: 1 1 auto;
  }
  .example-full-width{
    height:70px;
    width:250px;
  }
  .dob{
    height:70px;
    width:250px;
  }
  .department{
    height:70px;
    width:250px;
  }
  form{
    margin-left:20%;
    
  }
  