table,
th,
td {
    color: black;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: gray;
}

th,
td {
    height: 1cm;
    width: 3cm;
}