
<h2>Assignment - 2 </h2>
<body>
    
    <div class="form">
        <img src="https://img.freepik.com/premium-vector/illustration-buildings-line-style-with-various-shapes-buildings_8499-1045.jpg?w=2000" height="150px" width="300px"><br>
        FIRST NAME <br><input type="text" brname="fname" id="fname">
        <div class="lname">LAST NAME <br><input type="text" name="lname" id="lname"> <br></div>
        USERNAME <br><input type="text"> <br>
        EMAIL <br><input type="text"> <br>
        PIN NUMBER <br><input type="text"> <br>
        PASSWORD <br><input type="password"> <br>
        CONFIRM PASSWORD <br><input type="password"><br>
        <div class="btn btn-success">SUBMIT</div>
    </div>
    

</body>
