<div style="background-color: gainsboro; width: 100%;height: 1000px;">
<div id="first_page" style="position: absolute;margin-top: 2%;">
    <div class="card card-responsive">
        <img src="https://www.freepngimg.com/thumb/orange/19-orange-png-image-download-thumb.png"
            style="width:80%;height:40%;margin-left: 5%;" alt="">
        <div class="card-body">
            <h4 style="font-size: 26px;text-align: center;">Order Your Favorites Fruits

                <img style="width:10%;height: 10%;"
                    src="https://www.transparentpng.com/thumb/orange/long-branched-smooth-orange-background-transparent-mbfDST.png">
            </h4>
            <font style="font-weight:lighter;text-align: center;font-size: smaller;">
                <p>Fruit is one of the ingredients to keep our body well. Which helps our body to prevent disease.</p>
            </font>
        </div>
        <!--<div class="icon"> <i class="fa fa-circle">&nbsp;<i style="color:orange" class="fa fa-circle">&nbsp;<i style="color:black" class="fa fa-circle"></i></i></i> </div>
        -->
        <img src="https://cdn-icons-png.flaticon.com/512/57/57013.png" width="6%" style="margin-left: 42%;" alt="">
        <br>
        <br>
        <button class="btn btn-danger"
            style="background-color:#EB7123;border-radius:20px;width: 40%;margin-left: 25%;">Get started</button>
        <br>
    </div>
</div>

<!--second page-->
<div id="second_page" style="position: absolute;margin-left: 30%;margin-top: 2%;">
    <div class="card card-responsive">
        <div class="card-header" style="background-color: aliceblue;">
            <h3>Hi Gupta!</h3>
            <br>
            <p>Find fresh fruits what you want</p>
            <input type="text" placeholder=" Search fresh fruits" style="border-radius: 10px; width: 80%;">
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Recommended</h3>
                </div>
                <div class="col" style="margin-left:50px">
                    <p style="font-size: smaller;text-align: right;">View All</p>
                </div>
            </div>
            <div class="row">
                <div class="card col"
                    style="height:230px;background-color:#EEC764;border-color:#EEC764; border-bottom-right-radius:60px">
                    <img src="./assets/banana.jpg" style="width: 80%;"><br>
                    <h6 style="text-align:center;color: white;">Banana</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart"
                            aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <div class="card col"
                    style="height:230px;background-color:#E2675E;border-color:#E2675E; border-bottom-left-radius:60px">
                    <img src="./assets/apple.jpg" style="width: 80%;"><br>
                    <h6 style="text-align:center;color: white;">Apple</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart"
                            aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
            </div>



            <div class="row">
                <img src="./assets/fruits.jpg" style="width: 40%;border-radius:90px;border:none;margin-left:110px">
            </div>


            <div class="row">
                <div class="card col"
                    style="height:230px;background-color:#A8B868;border-color:#A8B868; border-top-right-radius:60px">
                    <img src="./assets/pineapple.jpg" style="width: 80%;border-radius:40px"><br>
                    <h6 style="text-align:center;color: white;">Pineapple</h6>
                    <p style="color: white;">$1.99 each <i style="color:red;margin-left:20px" class="fa fa-heart"
                            aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <div class="card col"
                    style="height:230px;background-color:#F3B46F;border-color:#F3B46F; border-top-left-radius:60px">
                    <img src="./assets/mango.jpg" style="width: 80%;border-radius:40px"><br>
                    <h6 style="text-align:center;color: white;">Mango</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart"
                            aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
            </div><br>
        </div>

        <div class="card-footer">
            <div class="bottom"><i style="color:#EB7123" class="fa fa-home" aria-hidden="true"></i> <i
                    style="margin-left:55px" class="fa fa-cart-plus" aria-hidden="true"></i>
                <i style="margin-left:55px" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px"
                    class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            
        </div>
        
    </div>
    
</div>

<!--Third-->

<div id="third_page" style="position: absolute;margin-left: 60%;margin-top: 2%;">
    <div class="card card-responsive">
        <div class="card-header">


            <img src="./assets/apple2.jpg" style="width:100%;height:230px">
        </div>
        <div class="card-body">
            <div class="row" style="margin-top:85px">
                <div class="col">
                    <h3 style="font-weight: bolder;">Apple-Medium</h3>
                </div>
                <div class="col">
                    <b>$20.25 </b>
                </div>
            </div>


            <div class="row" style="margin-top:35px">
                <div class="col">
                    <h4>Quantity &nbsp;&nbsp;- 1 +</h4>
                </div>
                <div class="col">
                    <p>10 kg</p>
                </div>
            </div>
            <div class="row" style="margin-top:35px">
                <h3>Delivery time</h3>

            </div>
            <i class="far fa-clock" aria-hidden="true"></i> &nbsp;&nbsp; <font style="font-size:small">20-30 min</font>

            <div style="margin-top:35px">
                <p>Review <i style="margin-left:130px;color:#f99b5d" class="fa fa-star" aria-hidden="true"></i><i
                        class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i>
                    <i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star"
                        style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d"
                        aria-hidden="true"></i>
                </p>
            </div>
            <div style="margin-top:45px">
                <h3>Product Details</h3>
                <font style="font-size: small;text-align: left  ;">It is long established fact that a reader will be distracted by the
                    readable content of a page
                    when looking at its layout.
                </font>
            </div>
            <div style="margin-top:80px;margin-left:30%;">
                <button class="btn" style="background-color:#EB7123;border: none;border-radius: 30px;width: 60%;">
                    <font color="white">Add to cart</font>
                </button>
            </div>

        </div>
        <div class="card-footer">
            <div class="bottom"><i class="fa fa-home" aria-hidden="true"></i> <i style="margin-left:55px;color:#EB7123"
                    class="fa fa-cart-plus" aria-hidden="true"></i>
                <i style="margin-left:55px" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px"
                    class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
</div>