

<div class="header" style="text-align: center; padding-top: 27px;">
  <h1><b>Employee Management System</b></h1>  
</div>
<div class="center">
  <form #myForm="ngForm">


   <div class="input-group mb-3" style="width: 50%;">
   <span class="input-group-text" id="basic-addon1">Employee ID</span>
   <input type="number" class="form-control" placeholder="Employee ID" aria-label="Username" aria-describedby="basic-addon1" name="id" #id="ngModel" ngModel required pattern="[0-9 ]+" minlength="10" maxlength="10">
 </div>


 <div *ngIf="id.touched">
   <div *ngIf="id.errors?.['required']">
       <font color="red"><b>EmployeeID required</b></font>
   </div>
   <div *ngIf="id.errors?.['pattern']">
       <font color="red"><b>Invalid EmployeeID</b></font>
   </div>
</div>










   <div class="input-group mb-3" style="width: 50%;">
   <span class="input-group-text" id="basic-addon1">Employee Name</span>
   <input type="text" class="form-control" placeholder="EmployeeName" aria-label="Username" aria-describedby="basic-addon1" name="name" #name="ngModel" ngModel required pattern="[a-zA-Z]+" >
 </div>
 <div *ngIf="name.touched">
   <div *ngIf="name.errors?.['required']">
       <font color="red"><b>EmployeeName required</b></font>
   </div>
   <div *ngIf="name.errors?.['pattern']">
       <font color="red"><b>Invalid EmployeeName</b></font>
   </div>
</div>







   <div class="input-group mb-3" style="width: 50%;">
   <span class="input-group-text" id="basic-addon1">Employee Salary</span>
   <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="salary" #salary="ngModel" ngModel required pattern="\d{1,3}(?:,?\d{3})?">
 </div>
 <div *ngIf="salary.touched">
   <div *ngIf="salary.errors?.['required']">
       <font color="red"><b>Salary required</b></font>
   </div>
   <div *ngIf="salary.errors?.['pattern']">
       <font color="red"><b>Invalid Salary</b></font>
   </div>
</div>






<br>


     <div>
     <button class="btn btn-danger" (click)="insertEmployee(myForm.value)">insert</button>&nbsp;&nbsp;
     <button class="btn btn-danger" (click)="deleteEmployee(myForm.value)">Delete</button>&nbsp;&nbsp;
     <button class="btn btn-danger" (click)="updateEmployee(myForm.value)">Update</button>&nbsp;&nbsp;
   </div>





 <font color="green"><b>{{result}}</b></font>
</form>
</div>


<div class="right">
<ul>
  <li *ngFor="let emp of empList">{{emp.id}}-{{emp.name}}-{{emp.salary}}</li>
</ul>
</div>
