<h4><b>Data Binding</b></h4>
<table>
    <tr>
        <td><b>Name</b></td>
        <td>:</td>
        <td>{{Name}}</td>
    </tr>
    <tr>
        <td><b>MobileNo</b></td>
        <td>:</td>
        <td>{{Mobileno}}</td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td>:</td>
        <td>{{Address}}</td>
    </tr>
    <tr>
        <td><button (click)="changeName()">Change Name</button></td>
        <td><button (click)="changeMobileno()">Change MobileNo</button></td>
        <td><button (click)="changeAddress()">Change Address</button></td>
    </tr>
</table>