<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome to Angular</h1> -->
    <!-- <app-child></app-child>  <br> -->

    <!-- <app-child1></app-child1> -->

    <!-- <app-child2></app-child2> -->

    <!-- <app-child3></app-child3> -->

    <!-- <app-child4></app-child4>
    <br>
    <app-child41></app-child41><br> -->

    <!-- <app-child5></app-child5> -->
    <!-- <app-child51></app-child51> -->

    <!-- <app-child6></app-child6> -->
    <app-child7></app-child7>

</body>
</html>