<div class="top">
  
      
      <p>
        <mat-toolbar color="primary">
        
        <span>Hospital Management system</span>
        <span class="example-spacer"></span>

        <div class="example-button-container">
            <button mat-fab color="warn" (click)="open_window()" aria-label="Example icon button with a delete icon">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
     
      </mat-toolbar>
      </p>

</div>
<!-- content page-->
<table class="table" style="width: 50%;margin: 5%;">
    <thead class="table table-dark">
      <tr>
 
        <th scope="col">Patient ID</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Patient Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Aravind</td>
        <td>32</td>
     
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Siva</td>
        <td>24</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Mahesh</td>
        <td>43</td>
      </tr>
    </tbody>
  </table>

