

.left
{
    border: 3px solid rgb(46, 215, 195);
    text-align: center;
    height: 80%;
    width: 60%;
    position: absolute;
    margin-top: 0px;
    margin-left: 2%;
    border-radius: 15px;
    top: 15%;
}

.right
{
    border: 3px solid rgb(230, 99, 99);
    text-align: center;
    height: 80%;
    width: 34%;
    position: absolute;
    margin-top: 0px;
    margin-left: 2%;
    border-radius: 15px;
    top: 15%;
    left: 62%;
}
form{
  
  margin-top: 20%;
}
td{
  text-align: left;
}
input,select{
  height: 26px;
  width: 200px;
  border-radius:6px ;
}
option{
  border-radius: 20px;
}

table
{
  margin-left: 20%;
}
.fbutton{
  margin-right: 25%;
}

input{
  text-align: center;
}
.example-spacer {
  flex: 1 1 auto;
}