<h1>Template Driven Form [TDF]</h1>
<br>
<h6>Registration Page Form</h6>
<br>
<div>
  <form #myForm="ngForm" (ngSubmit)="myFunction(myForm.value)" >
    <label><b>Name :</b></label><input type="text" name="name" #name="ngModel" ngModel required pattern=[a-zA-Z]+$  />
    <br>
    <div *ngIf="name.touched" >
      <div *ngIf="name.errors?.['required']" >
        <font color="red" ><b>* Name field is required</b></font>
      </div>
      <div *ngIf="name.errors?.['pattern']" >
        <font color="red" ><b>Invalid Name or field</b></font>
      </div>
    </div>
    
    <br>
    <label><b>Email :</b></label><input type="text" name="email" #email="ngModel" ngModel required pattern=^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$ />
    <br>
    <div *ngIf="email.touched" >
      <div *ngIf="email.errors?.['required']" >
        <font color="red" ><b>* Email field is required</b></font>
      </div>
      <div *ngIf="email.errors?.['pattern']" >
        <font color="red" ><b>Invalid Email or field</b></font>
      </div>
    </div>
    <br>
    <label><b>Age:</b></label><input type="text" name="age" #age="ngModel" ngModel required pattern=[0-9]+$  maxlength="3"   />
    <br>
    <div *ngIf="age.touched" >
      <div *ngIf="age.errors?.['required']" >
        <font color="red" ><b>* Age field is required</b></font>
      </div>
      <div *ngIf="age.errors?.['pattern']" >
        <font color="red" ><b>Invalid Age or field</b></font>
      </div>
      <div *ngIf="age.errors?.['maxlength']" >
        <font color="red" ><b>Length of the age should be 3</b></font>
      </div>
    </div>
    <br>
    <label><b>Phone Number :</b></label><input type="text" name="phonenumber" #phonenumber="ngModel" ngModel required pattern=[0-9]+$ maxlength="10" minlength="10"  />
    <br>
    <div *ngIf="phonenumber.touched" >
      <div *ngIf="phonenumber.errors?.['required']" >
        <font color="red" ><b>* Phone Number field is required</b></font>
      </div>
      <div *ngIf="phonenumber.errors?.['pattern']" >
        <font color="red" ><b>Invalid Phone Number or field</b></font>
      </div>
      <div *ngIf="phonenumber.errors?.['maxlength,pattern']" >
        <font color="red" ><b>Max Length of the Phone Number should be 10</b></font>
      </div>
      <br>
      <div *ngIf="phonenumber.errors?.['minlength']" >
        <font color="red" ><b>Min Length of the Phone Number should be 10</b></font>
      </div>
    </div>
    <br>
    <label ><b>Country :</b></label><select #country="ngModel" name="country" ngModel required>
      <br>
      <option value="India" >India</option>
      <option value="China" >Chinas</option>
      <option value="USA" >USA</option>
    </select>
    <br>
    <br>
    <button [disabled]="myForm.invalid" >Register</button>
<br>
<br>
<br>
<div>
  <table table-collapse="">
    <tr><td><b>Check your Input details correct afetr click the register button :- </b></td></tr>
    <br>
    <tr><td class="s"><b>Name :</b> {{names}}</td></tr>
    <br>
    <tr><td><b>Email :</b> {{emails}}</td></tr>
    <br>
    <tr><td><b> Age :</b> {{ages}}</td></tr>
    <br>
    <tr><td><b>Phone Number :</b> {{phonenumbers}}</td></tr>
    <br>
    <tr><td><b>Country :</b> {{countrys}}</td></tr>
    <br></table></div>
    <app-myapp></app-myapp>




