<!-- Latest compiled and minified CSS -->
<!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">--->

<!-- jQuery library -->
<!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>--->

<!-- Latest compiled JavaScript -->
<!---<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"></script>
<base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">--->
  <!-- Latest compiled and minified CSS -->
<!---<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">--->


<!-- Latest compiled JavaScript -->
<!---<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>--->


<!---<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
--->
<h1> Projects :- 1 </h1>
<div >
  <div class="card card-responsive shadow p-3 mb-5 bg-white rounded " >
    <div class="card-header" >
      <img src="./assets/oranges456789.jpg" style="width:100%;height:200px"alt="images">
    </div>
    <div class="card-body" ><h4>Order Your Favorites</h4>
      <br>
      <h4>Fruits <img style="width:10%" src="./assets/orange.jpg" alt="images"></h4>
      <font style="font-weight: 600;"> <p>Fruit is one of the ingredients to keep our body well. Which helps our body to prevent disease.</p></font>
    </div>
    <div class="icon"> <i class="fa fa-circle">&nbsp;<i style="color:orange" class="fa fa-circle">&nbsp;<i style="color:black" class="fa fa-circle"></i></i></i> </div>
    <div class="card-footer" ><button class="btn" style="background-color:#EB7123;border-radius:20px"><font color="white">Get started</font></button></div>
  </div>
</div>
<!---<img src="oranges.jpg" alt="s" >--->
<app-child1></app-child1>
<app-child2></app-child2>
<hr/>
<app-child3></app-child3>
<hr/>
<br>
<br>
<br>
<app-child4></app-child4>
<hr/>
<app-child5></app-child5>   
