<div class="head">
  <p>
    <mat-toolbar color="primary">
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Vehicle Management System</span>
      <span class="example-spacer"></span>
      
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark me-md-2" type="button">Login</button>
        <button class="btn btn-dark" type="button">Sign Up</button>
      </div>
      
    </mat-toolbar>
  </p>
</div><br>

<div class="container-fluid">
  <div class="row">
    <div class="col">
     
      <form  #myform="ngForm" >

        <label style="color: brown;"><b>Vehicle Id:</b></label><br>
        <mat-form-field class="example-full-width">
          <mat-label>Vehicle ID</mat-label>
          <input matInput placeholder="Enter Id" type="text" matInput name="id" #id="ngModel" ngModel required pattern="[0-9]+">

        </mat-form-field>
      
        <div *ngIf="id.touched">
          <div *ngIf="id.errors?.['required']">
            <font color="red">Id Required</font>
          </div>
          <div *ngIf="id.errors?.['pattern']">
            <font color="red"> Invalid Id </font>
          </div>
        </div>
        <br>

        <label style="color: brown;"><b>Vehicle Name:</b></label><br>
        <mat-form-field class="example-full-width">
         
          <input matInput placeholder="Enter Name" type="text" name="name" #name="ngModel" ngModel required
            pattern="[a-zA-z ]+">
        </mat-form-field>
        <div *ngIf="name.touched">
          <div *ngIf="name.errors?.['required']">
            <font color="red">Name Required</font>
          </div>
          <div *ngIf="name.errors?.['pattern']">
            <font color="red"> Invalid Name</font>
          </div>
        </div>

        <br>
        
        <label style="color: brown;"> <b>Vehicle Type:</b></label><br>
        <mat-form-field class="type">
          <mat-select class="select1" name="type" #type="ngModel" ngModel required>

            <mat-option value="type">select Type</mat-option>
            <mat-option value="bike">Bike</mat-option>
            <mat-option value="car">Car </mat-option>
            <mat-option value="van">Van </mat-option>

          </mat-select>
        </mat-form-field>
        <div *ngIf="type.touched ">
          <div *ngIf="type.errors?.['required']">
            <font color="red">Type Required</font>
          </div>
        </div>

        <br>


        <br>
        <label style="color: brown;"><b>Vehicle Number:</b></label><br>
        <mat-form-field class="example-full-width">
         
          <input matInput placeholder="Enter Number" type="text" name="number" #number="ngModel" ngModel required
            pattern="[a-zA-z 0-9]+">
        </mat-form-field>
        <div *ngIf="number.touched">
          <div *ngIf="number.errors?.['required']">
            <font color="red">Number Required</font>
          </div>
          <div *ngIf="number.errors?.['pattern']">
            <font color="red"> Invalid Number</font>
          </div>
        </div>

        <br>

        <label style="color: brown;"><b>Vehicle Owner Name:</b></label><br>
        <mat-form-field class="example-full-width">
         
          <input matInput placeholder="Enter Owner Name" type="text" name="oname" #oname="ngModel" ngModel required
            pattern="[a-zA-z ]+">
        </mat-form-field>
        <div *ngIf="oname.touched">
          <div *ngIf="oname.errors?.['required']">
            <font color="red">Owner Name Required</font>
          </div>
          <div *ngIf="oname.errors?.['pattern']">
            <font color="red"> Invalid Owner Name</font>
          </div>
        </div>

        <br> 
        
        
      
    
<br><br>
        <button class="btn btn-success" [disabled]="(myform.invalid )"
          (click)="insert(myform.value)">Insert</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="update(myform.value)">update</button>&nbsp;&nbsp;
        <button class="btn btn-danger" (click)="delete(myform.value)">delete</button><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-dark" (click)="changeDiv()">View Details</button>
      </form>

      <br>

      <div>
        <font color="green"><b>{{result}}</b></font>
      </div><br><br>
    </div>

    <div class="col" *ngIf="flag">
      <table class="table table-striped">
        <thead>
          <tr scope="row">
          <th scope="col">Vehicle Id </th>
          <th scope="col">Vehicle Name </th>
          <th scope="col">Vehicle Type </th>
          <th scope="col">Vehicle Number </th>
          <th scope="col">Vehicle Owner</th>
         
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vec of vehicleList" scope="row">
            <td scope="col">{{vec.id}}</td>
            <td scope="col">{{vec.name}}</td>
            <td scope="col">{{vec.type}}</td>
            <td scope="col">{{vec.number}}</td>
            <td scope="col">{{vec.oname}}</td>
            
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>