<h1 id="h1-1">Welcome to Angular</h1>
<br>
<div>
  Root component
  <app-child>
   
  </app-child>
</div>

empid={{empid}}  <br>
ename={{ename}}  <br>
esal={{esal}}
 <br>
Addition={{getadd(33,44)}}
<br>
Factorial={{getfact(5)}}
<div id="div1">
  <p>(one way binding) Interpolation binding</p>
<br>
<input type="text" value="{{email}}">
<br>
<br>
Addition of 33 and 44 :<input type="text" value="{{getadd(33,44)}}"/>
</div>

<app-child1></app-child1>
<hr>
<app-child2></app-child2>
<hr>
<app-child3></app-child3>
<hr>
<app-strucdirective></app-strucdirective>
<hr>
<app-attribute-dir></app-attribute-dir>
<hr>
<app-assg1></app-assg1>
<hr>
<app-calculator></app-calculator>
<hr>
<app-pipe-concept></app-pipe-concept>
<hr>
<app-forms-tdf></app-forms-tdf>
<hr>
<app-forms-reactive></app-forms-reactive>