<p><b>Pipe Component</b></p>
<p><b>Predefined Pipes:</b></p>

<p>Upper case: {{name | uppercase}}</p>
<p>Lower case: {{name | lowercase}}</p>
<p>Title case: {{name | titlecase}}</p>
<p>Date: {{date | date:'dd/MMM/yy'}}</p>
<p>Date: {{date | date:'dd-MM-yy'}}</p>
<p>Date: {{date | date:'fullDate'}}</p>
<p>Date: {{date | date:'fullDate' | uppercase}}</p>
<p>Percent: {{00.856779 | percent}}</p>
<p>Currency: {{789609 | currency:"EUR"}}</p>

<p><b>User defiend pipe: (sort)</b></p>

<p>Array reverse: {{arr1 | sort:'reverse'}}</p>
<p>Array ascending: {{arr1 | sort:'ascending'}}</p>
<p>Array descending: {{arr1 | sort:'descending'}}</p>
<p>Array string reverse: {{arr2 | sort:'reverse'}}</p>
<p>Array string ascending: {{arr2 | sort:'ascending'}}</p>
<p>Array string descending: {{arr2 | sort:'descending'}}</p>