<div >
    <div class="card card-responsive">
        <div class="card-header" >


            <img src="./assets/Apple1.jpg"  style="width:100%;height:230px">
        </div>
        <div class="card-body">
            <div class="row" style="margin-top:85px">
                <div class="col">
                    <h5>Apple-Medium</h5>
                </div>
                <div class="col">
                    <b>$20.25 </b>
                </div>
            </div>


            <div class="row" style="margin-top:35px">
                <div class="col">
                    <h6>Quantity - 1 +</h6>
                </div>
                <div class="col" >
                    <p>10kg</p>
                </div>
            </div>
            <div class="row" style="margin-top:35px">
                    <h6>Delivery time</h6>
                   
            </div>
            <i class="fa fa-clock" aria-hidden="true"></i> &nbsp;&nbsp; <font style="font-size:small">20-30 min</font>
           
            <div style="margin-top:35px">
                <p>Review <i style="margin-left:130px;color:#f99b5d" class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i>
                    <i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i><i class="fa fa-star" style="color:#f99b5d" aria-hidden="true"></i></p>
            </div>
            <div style="margin-top:45px">
                <h6>Product Details</h6>
                <font style="font-size: small;">It is long established fact that a reader will be distracted  by the readable content of a page
                when looking at its layout.
                </font>
            </div>
            <div style="margin-top:80px;margin-left:100px;">
                <button class="btn" style="background-color:#EB7123"><font color="white">Add to cart</font></button>
            </div>
           
        </div>
        <div class="card-footer">
            <div class="bottom" ><i  class="fa fa-home" aria-hidden="true"></i> <i style="margin-left:55px;color:#EB7123" class="fa fa-cart-plus" aria-hidden="true"></i>  
                <i style="margin-left:55px" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px" class="fa fa-user-circle" aria-hidden="true"></i> </div>
            </div>
    </div>
</div>

