<h1>custom-pipe works!</h1>
<div>
    <table border="1" cellpadding="10" cellspacing="10" style="border-collapse: collapse;text-align: left;">
        <tr><th>Normal Output</th><td>{{arr1}}</td></tr>
        <tr><th>Reverse Order</th><td>{{arr1|sortpipe:'reverse'}}</td></tr>
        <tr><th>Ascending Order</th><td>{{arr1|sortpipe:'ascending'}}</td></tr>
        <tr><th>Descending Order</th><td>{{arr1|sortpipe:'descending'}}</td></tr>
        <tr><th>Normal Output</th><td>{{arr2}}</td></tr>
        <tr><th>Reverse Order</th><td>{{arr2|sortpipe:'reverse'}}</td></tr>
        <tr><th>Ascending Order</th><td>{{arr2|sortpipe:'ascending'}}</td></tr>
        <tr><th>Descending Order</th><td>{{arr2|sortpipe:'descending'}}</td></tr>
    </table>
</div>
