
    <!-- <form [formGroup]="myForm" (ngSubmit)="myFunction(myForm.value)">
        <header>Registation Page</header>
        <label>Name</label> <input type="text" formControlName="name"/>
        <div *ngIf="myForm.get('name')!.touched && myForm.get('name')!.invalid">
            <div *ngIf="myForm.get('name')"></div>
        </div>
    </form> -->

    <!-- <form [formGroup]= "myForm" (ngSubmit)= "myFunction(myForm.value)">

        <label for="name">Enter name</label><input type="text" formControlName="name">
           <div *ngIf ="myForm.get('name')!.touched && myForm.get('name')!.invalid">
              <div *ngIf ="myForm.get('name')!.hasError('required')">
                    <font>*name is required</font>
                  </div>
                   <div *ngIf ="myForm.get('name')!.hasError('pattern')">
                      <font>*name is invalid</font>
                    </div>

                    <label for="name">Enter </label><input type="text" formControlName="name">
                    <div *ngIf ="myForm.get('name')!.touched && myForm.get('name')!.invalid">
                       <div *ngIf ="myForm.get('name')!.hasError('required')">
                             <font>*name is required</font>
                           </div>
                            <div *ngIf ="myForm.get('name')!.hasError('pattern')">
                               <font>*name is invalid</font>
                             </div>
                             <label for="name">Enter name</label><input type="text" formControlName="name">
                             <div *ngIf ="myForm.get('name')!.touched && myForm.get('name')!.invalid">
                                <div *ngIf ="myForm.get('name')!.hasError('required')">
                                      <font>*name is required</font>
                                    </div>
                                     <div *ngIf ="myForm.get('name')!.hasError('pattern')">
                                        <font>*name is invalid</font>
                                      </div>            
       
               <button [disabled]="myForm.invalid">Register</button> -->



               <p>reactive-form works!</p>
               <div class="form-container">
                    <form [formGroup]="myForm" (ngSubmit)="myFunction(myForm.value)">
               <header>Registration form</header>
               <label >Name:</label><input type="text" formControlName="name">
               <div *ngIf="myForm.get('name')!.touched && myForm.get('name')!.invalid">
                <div *ngIf="myForm.get('name')!.hasError('required')">
                <font color="red">Name is Required</font>
                </div>
                <div *ngIf="myForm.get('name')!.hasError('pattern')">
                <font color="red">Invalid Name </font>
                </div>
               </div>
               <br>
               <br>
               
               <label >Email:</label><input type="text" formControlName="email">
               <div *ngIf="myForm.get('email')!.touched && myForm.get('email')!.invalid">
               <div *ngIf="myForm.get('email')!.hasError('required')">
                <font color="red">Email is Required</font>
                </div>
                <div *ngIf="myForm.get('email')!.hasError('pattern')">
                <font color="red">Invalid Email </font>
                 </div>
                </div>
                <br>
                <label >Age:</label><input type="text" formControlName="age">
                <div *ngIf="myForm.get('age')!.touched && myForm.get('age')!.invalid">
                 <div *ngIf="myForm.get('age')!.hasError('required')">
                   <font color="red">age is Required</font>
                 </div>
                 <div *ngIf="myForm.get('age')!.hasError('pattern')">
                   <font color="red">Invalid age </font>
                 </div>
                </div>
                <br>
                
                <button [disabled]="myForm.invalid">register</button>
                 </form>           
