div{
    height: 13%;
    width: 30%;
    border: 3px solid rgb(0, 110, 255); 
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 1%;
}
p{
    color: rgb(0, 115, 255);
    margin-left: 2%;
}