<div class="header">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
</div>

<div>
  <mat-tab-group>
    <mat-tab label="Insert">
      <form action="">
        <table>
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Movie ID</mat-label>
              <input matInput placeholder="Enter Movie ID">
            </mat-form-field>
          </tr>
      
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Movie Name</mat-label>
              <input matInput placeholder="Enter Movie Name">
            </mat-form-field>
          </tr>
      
      
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Movie Type</mat-label>
              <input matInput placeholder="Enter Movie Type">
            </mat-form-field>
          </tr>
      
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Movie Language</mat-label>
              <input matInput placeholder="Enter Movie Language">
            </mat-form-field>
          </tr>
      
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Movie Duration</mat-label>
              <input matInput placeholder="Enter Movie Duration">
            </mat-form-field>
          </tr>

          <tr><button class="btn btn-success">Insert</button></tr>
        </table>

      </form>
    </mat-tab>
    <mat-tab label="Update">       <form action="">
      <table>
        <tr>
          <mat-form-field appearance="outline">
            <mat-label>Movie ID</mat-label>
            <input matInput placeholder="Enter Movie ID">
          </mat-form-field>
        </tr>
    
        <tr>
          <mat-form-field appearance="outline">
            <mat-label>Movie Name</mat-label>
            <input matInput placeholder="Enter Movie Name">
          </mat-form-field>
        </tr>
    
    
        <tr>
          <mat-form-field appearance="outline">
            <mat-label>Movie Type</mat-label>
            <input matInput placeholder="Enter Movie Type">
          </mat-form-field>
        </tr>
    
        <tr>
          <mat-form-field appearance="outline">
            <mat-label>Movie Language</mat-label>
            <input matInput placeholder="Enter Movie Language">
          </mat-form-field>
        </tr>
    
        <tr>
          <mat-form-field appearance="outline">
            <mat-label>Movie Duration</mat-label>
            <input matInput placeholder="Enter Movie Duration">
          </mat-form-field>
        </tr>

        <tr><button class="btn btn-warning">Update</button></tr>
      </table>

    </form> </mat-tab>

    <mat-tab label="Delete">
       <table>
      <tr>
        <mat-form-field appearance="outline">
          <mat-label>Movie ID</mat-label>
          <input matInput placeholder="Enter Movie ID">
        </mat-form-field>
      </tr> 
    
      <tr><button class="btn btn-danger">Delete</button></tr>
    </table></mat-tab>
    <mat-tab label="ViewAll"> </mat-tab>
  </mat-tab-group>
  </div>