<html>  
  <body >
    <div><br>
      <h1> Root Component</h1> 
      <app-child></app-child>
    </div>
  </body>
</html><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-interpol></app-interpol> <br>
<app-propertybind></app-propertybind> <br>
<app-eventbind></app-eventbind> <br>
<app-twowaybind></app-twowaybind> <br>
<app-structuredirective></app-structuredirective> <br>
<app-attributedirective></app-attributedirective> <br>
<app-factorial></app-factorial> <br>
<app-calculator></app-calculator> <br>
<app-pipe></app-pipe> <br>
<app-custompipe></app-custompipe> <br>
<app-templatedrive></app-templatedrive> <br>
<app-reactiveform></app-reactiveform> <br>
<app-router-ex></app-router-ex>
