<div><hr>
    <h3>Pipe</h3>
    <span>Uppercase : </span>{{name|uppercase}}<br>
    Lowercase: {{name|lowercase}}<br>
    Titlecase : {{name|titlecase}}<br>
    <hr>
    <table width="80%">
        <tr><td>Date Pipe</td><td>{{date}}</td></tr>
        <tr><td>Date Pipe</td><td>{{date|date:'dd/MMM/YYYY'}}</td></tr>
        <tr><td>Date Pipe</td><td>{{date|date:'dd/MM/YY'}}</td></tr>
        <tr><td>Date Pipe</td><td>{{date|date:'fullDate'}}</td></tr>
        <tr><td>Date Pipe</td><td>{{date|date:'fullDate'|uppercase}}</td></tr>
        <tr><td>Date Pipe</td><td>{{date|date:'shortTime'}}</td></tr>

    </table>
    <hr>
    <table width="80%">
            <tr><td>Percent Pipe</td><td>{{00.54565|percent}}</td></tr>
    <tr><td>Currency Pipe</td><td>{{6589.23|currency:"USD"}}</td></tr>
    </table>
</div>
