<h1>Factorial</h1>
<br>
<table border="1" cellpadding="10" cellspacing="10">
    <tr>
        <th>No.</th>
        <th>Factorial</th>
    </tr>
    <tr>
        <td>0</td>
        <td>{{fact(0)}}</td>
    </tr>
    <tr>
        <td>1</td>
        <td>{{fact(1)}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>{{fact(2)}}</td>
    </tr>
    <tr>
        <td>3</td>
        <td>{{fact(3)}}</td>
    </tr>
    <tr>
        <td>4</td>
        <td>{{fact(4)}}</td>
    </tr>
    <tr>
        <td>5</td>
        <td>{{fact(5)}}</td>
    </tr>
    <tr>
        <td>6</td>
        <td>{{fact(6)}}</td>
    </tr>
    <tr>
        <td>7</td>
        <td>{{fact(7)}}</td>
    </tr>
    <tr>
        <td>8</td>
        <td>{{fact(8)}}</td>
    </tr>
    <tr>
        <td>9</td>
        <td>{{fact(9)}}</td>
    </tr>
    <tr>
        <td>10</td>
        <td>{{fact(10)}}</td>
    </tr>
</table>