.MyDiv1
{
    border-style : 3px solid ;
    border-color : rgb(221, 235, 20) ;
    border-radius : 10px ;
    width : 100px ;
    height : 100px ; 
    
}
.MyClass1
{
    color : blue ;
}
.MyClasss
{
    color : darkred ;
}