<div >
    <div class="card card-responsive">
        <div class="card-header" ><h3>Hi Gupta!</h3>
            <br>
            <p>Find fresh fruits what you want</p>
            <i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="Search for fruits" >
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>Recommended</h5>
                </div>
                <div class="col" style="margin-left:50px">
                    <p>View All</p>
                </div>
            </div>
            <div class="row">
                <div class="card col" style="height:230px;background-color:#EEC764;border-color:#EEC764; border-bottom-right-radius:60px">
                    <img src="./assets/banana.jpg" style="width: 80%;"><br>
                    <h6 style="text-align:center;color: white;">Banana</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart" aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <div class="card col" style="height:230px;background-color:#E2675E;border-color:#E2675E; border-bottom-left-radius:60px">
                    <img src="./assets/apple.jpg" style="width: 80%;"><br>
                    <h6 style="text-align:center;color: white;">Apple</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart" aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
            </div>


            <div class="row">
                <img src="./assets/fruits.jpg" style="width: 40%;border-radius:90px;border:none;margin-left:110px">
            </div>




            <div class="row">
                <div class="card col" style="height:230px;background-color:#A8B868;border-color:#A8B868; border-top-right-radius:60px">
                    <img src="./assets/pineapple.jpg" style="width: 80%;border-radius:40px"><br>
                    <h6 style="text-align:center;color: white;">Pineapple</h6>
                    <p style="color: white;">$1.99 each <i style="color:red;margin-left:20px" class="fa fa-heart" aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <div class="card col" style="height:230px;background-color:#F3B46F;border-color:#F3B46F; border-top-left-radius:60px">
                    <img src="./assets/mango.jpg" style="width: 80%;border-radius:40px"><br>
                    <h6 style="text-align:center;color: white;">Mango</h6>
                    <p style="color: white;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart" aria-hidden="true"></i></p>
                    <button class="btn btn-light" style="border-radius:20px">view more</button>
                </div>
            </div><br>
        </div>
        <div class="card-footer">
        <div class="bottom" ><i style="color:#EB7123" class="fa fa-home" aria-hidden="true"></i> <i style="margin-left:55px" class="fa fa-cart-plus" aria-hidden="true"></i>  
            <i style="margin-left:55px" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px" class="fa fa-user-circle" aria-hidden="true"></i> </div>
        </div>
    </div>
</div>
