
 .Header{
     border: 3px solid darkblue;
     height: 13%;
     width: 95.5%;
     left: 2%;
     top:2%;
     position: absolute;
     text-align: center;
 }
 .Content{
     border: 3px solid darkblue;
     height: 80%;
     width: 65%;
     position: absolute;
     top: 16%;
     left: 2%;
 }
 .Right{
     border: 3px solid darkblue;
     height: 80%;
     width: 30%;
     position: absolute;
     top: 16%;
     left: 67.5%;
 }
 p{
    font-size: larger;
 }
 form{
    left: 4%;
    position: absolute;
    top: 7%;
 }