<p>factorial works!</p>
<table border="1" cellpadding="10" cellspacing="10" align="center">
    <tr><th>Number</th>
    <td (click) = "setFactorial(vec)" *ngFor="let vec of findfactnumber"> {{vec}}</td></tr></table>
    <br><h3 align="center">Facotial value: {{ selectedFactNumber }} </h3>
    <!-- valan code -->
    <table border="1" cellpadding="10" cellspacing="10"><tr><th>Number</th><th>Factorial Value</th></tr>
        <tr *ngFor="let vec of findfactnumber">
        <td>{{ vec }}  </td> <td> {{getFactorial(vec)}} </td>
    </tr></table>