<div class="head">
  <p>
    <mat-toolbar color="primary">
      <mat-icon>flight</mat-icon>&nbsp;
      <span>Flight Management System</span>
    </mat-toolbar>
  </p>
</div>

<div class="container">
  <form #myform="ngForm">  
    <h1 style="color: indigo; font-size: 30px;text-align: center;" ><b><u>Add Flight Details</u></b></h1><br><br>
  <div class="row" style="padding-left:20%">
  
  <div class="col-sm-6">
<!-- Flight No -->
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Enter Flight No</mat-label>
  <input type="text" matInput name="flightno" #flightno="ngModel" ngModel required pattern="[0-9]+">
</mat-form-field>
<div *ngIf="flightno.touched">
  <div *ngIf="flightno.errors?.['required']">
    <font color="red">Flight No Required</font>
  </div>
  <div *ngIf="flightno.errors?.['pattern']">
    <font color="red"> Invalid Flight No&nbsp;<i class="fa fa-close"></i></font>
  </div>
  <div *ngIf="flightno.valid">
    <font color="green">Valid Flight No&nbsp;<i class="fa fa-check"></i></font>
  </div>
</div>
<br>

 <!-- Flight type-->
 <label style="font-style: normal;">Flight Type:</label><br>
 <mat-radio-group class="example-radio-group" aria-label="flightType" name="flighttype" #flighttype="ngModel"
   ngModel required>
   <mat-radio-button type="radio" name="flight" value="AirIndia">Air India</mat-radio-button>
   <mat-radio-button type="radio" name="flight" value="Indigo">Indigo</mat-radio-button>
   <mat-radio-button type="radio" name="flight" value="SpiceJet">SpiceJet</mat-radio-button>
   <mat-radio-button type="radio" name="flight" value="Vistara">Vistara</mat-radio-button>
 </mat-radio-group>
 <div *ngIf="flighttype.touched ">
   <div *ngIf="flighttype.errors?.['required']">
     <font color="red">Flight Type Required*</font>
   </div>
 </div><br>
 <br>
         <!-- source -->
         <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter Source</mat-label>
          <input type="text" matInput name="source" #source="ngModel" ngModel required pattern="[a-z A-z]+">
        </mat-form-field>
        <div *ngIf="source.touched">
          <div *ngIf="source.errors?.['required']">
            <font color="red">Source Required</font>
          </div>
          <div *ngIf="source.errors?.['pattern']">
            <font color="red"> Invalid Source&nbsp;<i class="fa fa-close"></i></font>
          </div>
          <div *ngIf="source.valid">
            <font color="green">Valid Source&nbsp;<i class="fa fa-check"></i></font>
          </div>
        </div>
        <br>

     

  </div>
  <div class="col-sm-6">
       <!-- Destination-->
       <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter Destination</mat-label>
        <input type="text" matInput name="destination" #destination="ngModel" ngModel required pattern="[a-z A-z]+">
      </mat-form-field>
      <div *ngIf="destination.touched">
        <div *ngIf="destination.errors?.['required']">
          <font color="red">Destination Required</font>
        </div>
        <div *ngIf="destination.errors?.['pattern']">
          <font color="red"> Invalid Destination&nbsp;<i class="fa fa-close"></i></font>
        </div>
        <div *ngIf="destination.valid">
          <font color="green">Valid Destination&nbsp;<i class="fa fa-check"></i></font>
        </div>
      </div>
      <br>
        <!-- Economy seat count -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Economy Seat Count</mat-label>
          <input type="text" matInput name="economyseatcount" #economyseatcount="ngModel" ngModel required pattern="[0-9]+">
        </mat-form-field>
        <div *ngIf="economyseatcount.touched">
          <div *ngIf="economyseatcount.errors?.['required']">
            <font color="red">Seat Count Required</font>
          </div>
          <div *ngIf="economyseatcount.errors?.['pattern']">
            <font color="red"> Invalid Seat Count&nbsp;<i class="fa fa-close"></i></font>
          </div>
          <div *ngIf="economyseatcount.valid">
            <font color="green">Valid Seat Count&nbsp;<i class="fa fa-check"></i></font>
          </div>
        </div>
        <br>

        <!-- Business seat count -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Business Seat Count</mat-label>
          <input type="text" matInput name="businessseatcount" #businessseatcount="ngModel" ngModel required pattern="[0-9]+">
        </mat-form-field>
        <div *ngIf="businessseatcount.touched">
          <div *ngIf="businessseatcount.errors?.['required']">
            <font color="red">Seat Count Required</font>
          </div>
          <div *ngIf="businessseatcount.errors?.['pattern']">
            <font color="red"> Invalid Seat Count&nbsp;<i class="fa fa-close"></i></font>
          </div>
          <div *ngIf="businessseatcount.valid">
            <font color="green">Valid Seat Count&nbsp;<i class="fa fa-check"></i></font>
          </div>
        </div>
        <br>

        <!-- Economy Fare -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Economy Fare</mat-label>
          <input type="text" matInput name="economyfare" #economyfare="ngModel" ngModel required pattern="[0-9]+">
        </mat-form-field>
        <div *ngIf="economyfare.touched">
          <div *ngIf="economyfare.errors?.['required']">
            <font color="red">Fare Required</font>
          </div>
          <div *ngIf="economyfare.errors?.['pattern']">
            <font color="red"> Invalid Fare&nbsp;<i class="fa fa-close"></i></font>
          </div>
          <div *ngIf="economyfare.valid">
            <font color="green">Valid Fare&nbsp;<i class="fa fa-check"></i></font>
          </div>
        </div>
        <br>

        <!-- Business Fare -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Business Fare</mat-label>
          <input type="text" matInput name="businessfare" #businessfare="ngModel" ngModel required pattern="[0-9]+">
        </mat-form-field>
        <div *ngIf="businessfare.touched">
          <div *ngIf="businessfare.errors?.['required']">
            <font color="red">Fare Required</font>
          </div>
          <div *ngIf="businessfare.errors?.['pattern']">
            <font color="red"> Invalid Fare&nbsp;<i class="fa fa-close"></i></font>
          </div>
          <div *ngIf="businessfare.valid">
            <font color="green">Valid Fare&nbsp;<i class="fa fa-check"></i></font>
          </div>
        </div>
        <br>
  </div>
</div><br><br>
<div class="row">
  <div class="col-sm-12" align="center">
  <button class="btn btn-success" [disabled]="(myform.invalid )"    (click)="insert(myform.value)">Insert</button>&nbsp;&nbsp;
  <button class="btn btn-primary" [disabled]="(myform.invalid )"    (click)="update(myform.value)">update</button>&nbsp;&nbsp;
  <button class="btn btn-danger"    (click)="delete(myform.value)">delete</button>&nbsp;&nbsp;
  <button class="btn btn-warning" (click)="changeDiv()">View Details</button>
  </div></div></form></div><br><br>
<div class="container">
  <div class="row">
    <div class="col" *ngIf="flag">
      
      <table class="table table-striped">
        <thead>
          <tr scope="row">
            <th scope="col">Flight No </th>
            <th scope="col">Flight Type </th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Economy Seat Count</th>
            <th scope="col">Business Seat Count</th>
            <th scope="col">Economy Fare</th>
            <th scope="col">Business Fare</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fli of flightList" scope="row">
            <td scope="col">{{fli.flightno}}</td>
            <td scope="col">{{fli.flighttype}}</td>
            <td scope="col">{{fli.source}}</td>
            <td scope="col">{{fli.destination}}</td>
            <td scope="col">{{fli.economyseatcount}}</td>
            <td scope="col">{{fli.businessseatcount}}</td>
            <td scope="col">{{fli.economyfare}}</td>
            <td scope="col">{{fli.businessfare}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>