<hr>
<h1> Template driven form</h1>

<form #register="ngForm" (ngSubmit)="register.form.valid && registerFn()">
    <div class="mb-3" >
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" placeholder="First name" [(ngModel)]="form.fname" name="fname" #fname="ngModel" required maxlength="32" [ngClass]="{error : fname.errors && fname.touched}">
        <div *ngIf="fname.errors && fname.touched">
            <small class="text-danger" *ngIf="fname.errors['required']">First Name is required</small>
            <small class="text-danger" *ngIf="fname.errors['maxlength']">Maximum 32 char are allowed</small>
        </div>
    </div>
    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" placeholder="Last name" [(ngModel)]="form.lname" name="lname" #lname="ngModel" required maxlength="32" [ngClass]="{error : lname.errors && lname.touched}">
        <div *ngIf="lname.errors && lname.touched">
            <small class="text-danger" *ngIf="lname.errors['required']">Last Name is required</small>
            <small class="text-danger" *ngIf="lname.errors['maxlength']">Maximum 32 char are allowed</small>
        </div>
    </div>

    <div class="mb-3">
        <label for="uname" class="form-label">User Name</label>
        <input type="text" class="form-control" id="uname" placeholder="User name" [(ngModel)]="form.uname" name="uname" #uname="ngModel" required maxlength="32" [ngClass]="{error : uname.errors && uname.touched}">
        <div *ngIf="uname.errors && uname.touched">
            <small class="text-danger" *ngIf="uname.errors['required']">User Name is required</small>
            <small class="text-danger" *ngIf="uname.errors['maxlength']">Maximum 32 char are allowed</small>
        </div>  
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E Mail</label>
        <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="form.email" name="email" #email="ngModel" required maxlength="32" [pattern]="emailRegex" [ngClass]="{error : email.errors && email.touched}">
        <div *ngIf="email.errors && email.touched">
            <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
            <small class="text-danger" *ngIf="email.errors['pattern']">Please Enter valid email</small>
             </div>
    </div>

    <div class="mb-3">
        <label for="mobile" class="form-label">Phone number</label>
        <input type="text" class="form-control" id="mobile" placeholder="Ph number" [(ngModel)]="form.mobile" name="mobile" #mobile="ngModel" required minlength="10" maxlength="10"[pattern]="integerRegex" [ngClass]="{error : mobile.errors && mobile.touched}">
        <div *ngIf="mobile.errors && mobile.touched">
            <small class="text-danger" *ngIf="mobile.errors['required']"> Phone number is required</small>
            <small class="text-danger" *ngIf="mobile.errors['maxlength'] || mobile.errors['minlength'] || mobile.errors['pattern']">Please Enter valid phone no</small>
              </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="form.password" name="password" #password="ngModel">
        <div *ngIf="password.errors && password.touched">
            <small class="text-danger" *ngIf="password.errors['required']">Password is required</small>
             </div>
    </div>

    <div class="mb-3">
        <label for="Confirm password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password" placeholder="Re-enter Password" [(ngModel)]="form.password" name="password" #password="ngModel">
        <div *ngIf="password.errors && password.touched">
            <small class="text-danger" *ngIf="password.errors['required']">Confirm Password is required</small>
             </div>
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-success" [disabled]="register.form.status==='INVALID'">
    </div>

</form>