<p>4th Question</p>
<!-- <table class="table">
    <tr *ngFor="let num of Digits">
        <td style="color: black;background-color: brown;">{{num}} X 1 = {{getMultiplicationTable(num,1)}} </td> &nbsp;&nbsp;&nbsp;&nbsp;


        <td style="background-color:rgb(4, 85, 14) ;color:antiquewhite;">{{num}} X 2 = {{getMultiplicationTable(num,2)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 3 = {{getMultiplicationTable(num,3)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 4 = {{getMultiplicationTable(num,4)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 5 = {{getMultiplicationTable(num,5)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
    </tr>

    <tr *ngFor="let num of Digits">
        <td style="color: black;">{{num}} X 6 = {{getMultiplicationTable(num,6)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 7 = {{getMultiplicationTable(num,7)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 8 = {{getMultiplicationTable(num,8)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 9 = {{getMultiplicationTable(num,9)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td style="color: black;">{{num}} X 10 = {{getMultiplicationTable(num,10)}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
    </tr>
</table> -->

<P>Table ass</P>
<div class="div1">
    <table>
        <tr *ngFor="let num of Digits" cellspacing="100px">

            <td style="background-color:red ;color:antiquewhite;"> {{num}}x1={{getMultiplicationTable(num,1)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(248, 197, 28) ;color:antiquewhite;"> {{num}}x2={{getMultiplicationTable(num,2)}}
            </td>&nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(228, 98, 12) ;color:antiquewhite;"> {{num}}x3={{getMultiplicationTable(num,3)}}
            </td>&nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(209, 245, 8) ;color:antiquewhite;"> {{num}}x4={{getMultiplicationTable(num,4)}}
            </td>&nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(26, 231, 26) ;color:antiquewhite;"> {{num}}x5={{getMultiplicationTable(num,5)}}
            </td>&nbsp;&nbsp;&nbsp;

        </tr>
    </table>
</div>



<div class="div2">
   
    <table>
        <tr *ngFor="let num of Digits">
            <td style="background-color:green ;color:antiquewhite;">{{num}}x6={{getMultiplicationTable(num,6)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color:skyblue ;color:antiquewhite;">{{num}}x7={{getMultiplicationTable(num,7)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color:blue ;color:antiquewhite;">{{num}}x8={{getMultiplicationTable(num,8)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(252, 12, 200) ;color:antiquewhite;">{{num}}x9={{getMultiplicationTable(num,9)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color:rgb(194, 54, 84) ;color:antiquewhite;">{{num}}x10={{getMultiplicationTable(num,10)}}</td>
            &nbsp;&nbsp;&nbsp;

        </tr>
    </table>
</div>