<h3 style="text-align: center;">Find Factorial Using Service</h3>
<br>
<h6 style="text-align: center;">Component - 03</h6><br>
<div class="input-group mb-3" style="width: fit-content; margin: auto;">
    <input type="text" class="form-control" placeholder="Enter a value" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="input">
    <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="getfact()">Calculate</button>
  </div>
  <br>
  <p style="text-align: center;">Factorial value : {{Fact_result}}</p>
