<p>Q3</p>
<body>
    <br>
    <div class="header table-responsive ">
        <h1><font color="red" style="font-weight: 1000;">FRUIT</font></h1>
        <h1><font style="font-weight: 1000;">NUTRITIONAL INFORMATION</font></h1>


<table class="table table-light">
        <div class="fruits-responsive fruits">
            <tr class=" veg"> <b>Fruits</b><td *ngFor= "let fruits of fruit">{{fruits}} </td></tr>
                <tr class="carbo"> <b>Carbohydrates</b> <td *ngFor= "let carbohydrates of carbohydrate">{{carbohydrates}} </td></tr>
                <tr class="water"> <b>Water</b><td  *ngFor= "let waters of water">{{waters}}</td></tr>
                <tr class="calorie"> <b>Calories</b><td  *ngFor= "let calories of calorie">{{calories}}</td></tr>
        </div>
    </table>
    <font color="red">All serving sizes 100g, apart from fruit juice, nobody only drinks 100ml</font>
</div> <br>
</body>


