<div >
    <div class="card card-responsive">
        <div class="card-header" ><img src="./assets/orange2.jpg" style="width:100%;height:200px"alt=""></div>
        <div class="card-body" ><h4>Order Your Favorites</h4>
            <br>
            <h4>Fruits <img style="width:10%" src="./assets/orange3.jpg"></h4>
        <font style="font-weight: 600;"> <p>Fruit is one of the ingredients to keep our body well. Which helps our body to prevent disease.</p></font>
        </div>
        <div class="icon"> <i class="fa fa-circle">&nbsp;<i style="color:orange" class="fa fa-circle">&nbsp;<i style="color:black" class="fa fa-circle"></i></i></i> </div>
        <div class="card-footer" ><button class="btn" style="background-color:#EB7123;border-radius:20px"><font color="white">Get started</font></button></div>
    </div>
</div>
