  /* using tag/selector  */
  h1{
    color: red;
    border: 2px solid red;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    height: 40px;
}
/* using id */
#myStyle1{
    color:blueviolet;
    border: 2px solid blueviolet;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    height: 40px;
}
/* using class */
.myStyle2{
    color:greenyellow;
    border: 2px solid greenyellow;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    height: 40px
}

/* grouping selector, and (*) for apply style for all the html tags */
h2,p{
    color:blueviolet;
    border: 2px solid blueviolet;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    height: 40px;
}
