<div class="myDiv">
<table width="100%"[cellSpacing]="15" [cellPadding]="10">
  <tr>
    <td><button class="btn btn-primary"><a routerLink="home" style="color: aliceblue;">Home</a></button></td>
    <td> <button class="btn btn-secondary"><a routerLink="Contact" style="color: aliceblue;">Contact</a></button></td>
    <td><button class="btn btn-danger"><a routerLink="About" style="color: aliceblue;">About</a></button></td>
  </tr>
</table>
<hr/>
<div>
  This is the space for new Component 
<router-outlet></router-outlet>
</div>
</div>