<!DOCTYPE html>
<html>
  <head>
    <title>MY-ANGULAR-APPS-DAY2 Interpolation</title>
  </head>
  <body>
    <h1>Interpolation Example Projects :-</h1>
    <br>
    <p>
      <br>
      <b>Employee ID : {{eid}}</b>
      <br>
      <b>Employee Name : {{ename}}</b>
      <br>
      <b>Employee Salary : {{esalary}}</b>
      <br>
      <b>Sum : {{getAddition(10,50)}}</b>
      <br>
      <b>Email Id Address : </b><input type="text" value="{{email}}"/>
      <br>
      <b>Addition of 10 and 50 : </b><input type="text" value="{{getAddition(10,50)}}"/>
      <br>
      <app-property-binding-components></app-property-binding-components>
      <app-eventsbindingcomponents></app-eventsbindingcomponents>
      <app-way-data-binding-componenets></app-way-data-binding-componenets>
      <app-directives></app-directives>
   </p>
  </body>
</html>






