button{
    margin: 4px;
    color: antiquewhite;
}
.toolbar {
    flex: 1 1 auto;
  }
  font{
    color: red;
  }












  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
 
  .example-small-box {
    height: 90%;
    width: 90%;
    margin-right:5%;
    margin-left: 5%;
    vertical-align:center;
  }
 
  .example-large-box {
    height: 90%;
    width: 70%;
    
    margin-right:15%;
    margin-left: 15%;
    
  }
  .card{
    border:2px solid rgb(47, 118, 141);
  }
  .cdetail{
    font-weight: bold;
    text-align: center;
    color:green;
    font-family:'Times New Roman', Times, serif;
  }


#top{
    width: 100%;
    height: 15%;
    position: absolute;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;


 
  font-size: large;
  font-weight: bold;
  text-align: center;
  color:antiquewhite;
  font-family:'Times New Roman', Times, serif;
}
.tool{
  background-color: rgb(47, 118, 141);
  color: antiquewhite;
}

mat-label{
  color:blue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size:medium;
}

