<div class="container-fluid text-center">
   
  <nav class="navbar navbar-fixed-top first-header">
<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with school icon">
        <mat-icon>school</mat-icon>
      </button>	
      <span>College Management System</span>
      <span class="example-spacer"></span>
      <button mat-mini-fab color="accent" (click)="openDialog()" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>  </mat-toolbar>
</div></nav></div>

   