body{
    margin-left: 35%;
    margin-top: 5%;
}
/* div{
    border:2px solid red;
    width:50%;
    height:50%;
    border-radius:20px; 
} */
h1{
    color: red;
    text-align: center;
}