<h2><u>structural-directives works!</u></h2>
<div class="box" *ngIf="flag">
    <ul>
        <li (click) = "setSelectedVehicle(vec)" *ngFor="let vec of vehicle"> {{vec}}</li>
        </ul>
        <br>
        <b>You have Selectd : {{ selectedVehicle }}</b>
<br>

<div [ngSwitch]="selectedVehicle">
    <font color="green" *ngSwitchCase="'Two Wheeler'"><b>Bike</b></font>
    <font color="green" *ngSwitchCase="'Three Wheeler'"><b>Auto</b></font>
    <font color="green" *ngSwitchCase="'Four Wheeler'"><b>Car</b></font>
    <font color="red" *ngSwitchDefault><b>Invalid</b></font>
</div></div>
<button (click)="changeVisible()">Show & Hide</button>
