<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <br>
        {{arr1}}
        <br><br>{{arr1 | sort:'reverse'}}
        <br><br>{{arr1 | sort:'ascending'}}
        <br><br>{{arr1 | sort:'descending'}}
        <hr>
        {{arr2}}
        <br><br>{{arr2 | sort:'reverse'}}
        <br><br>{{arr2 | sort:'ascending'}}
        <br><br>{{arr2 | sort:'descending'}}
    </div>
</body>
</html>