<p>Table Assignment</p>
<div class="div1">
    <table>
        <tr *ngFor="let b of a" cellpadding="200px">
            <td style="background-color: red; color: antiquewhite;">{{b}}x{{a1}}={{getMultiply(a1,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(248, 197, 28); color: antiquewhite;"> {{b}}x{{2}}={{getMultiply(2,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(228, 98, 12); color: antiquewhite;"> {{b}}x{{3}}={{getMultiply(3,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(209, 245, 8); color: antiquewhite;"> {{b}}x{{4}}={{getMultiply(4,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(26, 231, 26); color: antiquewhite;"> {{b}}x{{5}}={{getMultiply(5,b)}}</td>
            &nbsp;&nbsp;&nbsp;
        </tr>
    </table>
</div>

<div class="div2">
    <table>
        <tr *ngFor="let b of a" cellspacing="100px">
            <td style="background-color: rgb(4, 85, 14); color: antiquewhite;"> {{b}}x{{6}}={{getMultiply(6,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(16, 192, 154); color: antiquewhite;"> {{b}}x{{7}}={{getMultiply(7,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(13, 22, 105); color: antiquewhite;"> {{b}}x{{8}}={{getMultiply(8,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(252, 12, 200); color: antiquewhite;"> {{b}}x{{9}}={{getMultiply(9,b)}}</td>
            &nbsp;&nbsp;&nbsp;
            <td style="background-color: rgb(194, 54, 84); color: antiquewhite;"> {{b}}x{{10}}={{getMultiply(10,b)}}</td>
            &nbsp;&nbsp;&nbsp;
        </tr>
    </table>
</div>