<h1>Welcome to Angular</h1>
<br>
<div>Root Component <app-child></app-child></div>
<br>
<h3>Interpolation:</h3>
<br>
empid={{empid}} <br>
empname={{empname}} <br>
empsalary={{empsalary}}
<br>
Add: {{getadd(2,5)}}
<br>
Factorial: {{getfact(5)}}
<br>
<input type="text" value="{{email}}"/> 
<br>
Addition of 25 and 20 is : <input type="text" value="{{getadd(25,20)}}"/>
<br>
<hr>
<app-child1></app-child1>
<hr>
<app-child2></app-child2>
<hr>
<app-child2waybinding></app-child2waybinding>
<hr>
<app-structdirective></app-structdirective>
<hr>
<app-attributedirective></app-attributedirective>
<hr>
<br>
<app-assigncomponent></app-assigncomponent>
<hr>
<app-calccomponent></app-calccomponent>
<hr>
<app-calc2></app-calc2>
<hr>
<app-pipe></app-pipe>
<hr>
<app-formstdf></app-formstdf>
<hr>
<app-formreactive></app-formreactive>

