<p>Assigment 4</p>

<div class="container">
    <div class="row">
        <div class="col">
<div class="a">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[0]}} = {{getMultiply(a,col[0])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="b">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[1]}} = {{getMultiply(a,col[1])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="c">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[2]}} = {{getMultiply(a,col[2])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="d">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[3]}} = {{getMultiply(a,col[3])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="e">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[4]}} = {{getMultiply(a,col[4])}}</td>
        </tr>
    </table>
</div>
</div>
</div>
<br>

<div class="row">
<div class="col">
<div class="f">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[5]}} = {{getMultiply(a,col[5])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="g">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[6]}} = {{getMultiply(a,col[6])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="h">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[7]}} = {{getMultiply(a,col[7])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="i">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[8]}} = {{getMultiply(a,col[8])}}</td>
        </tr>
    </table>
</div>
</div>

<div class="col">
<div class="j">
    <table>
        <tr *ngFor="let a of col">
            <td>{{a}} X {{col[9]}} = {{getMultiply(a,col[9])}}</td>
        </tr>
    </table>
</div>
</div>
</div>
</div>