<div class="table" >
    <table mat-table >
        <tr>
            <th>No</th>
            <td></td>
            <td></td>
            <td></td>
            <th>Factorial</th>
        </tr>
        <tr>
            <td ><b>1</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca1 of vehicles1" > {{veca1}} <b>
            </b></td>
        </tr>
        <tr>
            <td><b>2</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca2 of vehicles2" > {{veca2}}<b>
                </b></td>
        </tr>
        <tr>
            <td><b>3</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca3 of vehicles3" > {{veca3}}<b>
               </b></td>
        </tr>
        <tr>
            <td><b>4</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca4 of vehicles4" > {{veca4}}<b></b></td>

        </tr>
        <tr>
            <td><b>5 </b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca5 of vehicles5" > {{veca5}}<b>
               </b></td>
        </tr>
        <tr>
            <td><b>6</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca6 of vehicles6" > {{veca6}}<b>
               </b></td>
        </tr>
        <tr>
            <td><b>7</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca7 of vehicles7" > {{veca7}}<b>
                </b></td>
        </tr>
        <tr>
            <td><b>8</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca8 of vehicles8" > {{veca8}}<b>
                </b></td>
        </tr>
        <tr>
            <td><b>9</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca9 of vehicles9" > {{veca9}}<b>
                </b></td>
        </tr>
        <tr>
            <td><b>10</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let veca10 of vehicles10" > {{veca10}}<b>
               </b></td>
        </tr>
    </table>
</div>
