.navbarSupportedContent a {
    color: #fff;
    border-bottom: 2px solid transparent;

}
#navbarSupportedContent a:hover {
    border-bottom: 2px solid #29f700;
}
#navbarSupportedContent button {
    background: #29f700;
    border-radius: 15px;
}
.carouselExampleCaptions{
    height: 400px;
    width: auto;
}
footer {
    width: 100%;
    height: 30px;
    background: black;
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 3px;
}
