@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    padding: .3rem 5rem;
    background-color: white;
    background: white;
    height: 100;
    padding: .5rem 5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
    background: white;
}

.navbar-brand {  
    color: black !important;
    align-items: center;
}

#nav2 {
    top: 10;
    left: 0;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 5);
    background: white;
}
.nav2-brand {
    font-size: 25px;
    font-weight: 800;
    color: black !important;
}

