<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="OnFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput type="text" placeholder="FirstName" formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>LastName</mat-label>
            <input matInput type="text" placeholder="Lastname"  formControlName="lastName">
        </mat-form-field>

    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="FirstName" formControlName="email">
        </mat-form-field> 
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label><b>Gender</b></mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Qualification</mat-label>
            <mat-select formControlName="qualification">
                <mat-option *ngFor="let q of qualification" [value]="q">{{q}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="company" formControlName="company">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput type="number" placeholder="Experience" formControlName="experience">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Package</mat-label>
            <input matInput type="number" placeholder="Package" formControlName="package">
            <mat-hint>In rupees</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</form>