<p><b>Factorial</b></p>
<html>
<body>
<table class="table table-border">
<tr>
<th>Number</th>
<th>Factorial</th>
</tr>
<tr>
<td>1</td>
<td>{{getFact(1)}}
</tr>
<tr>
<td>2</td>
<td>{{getFact(2)}}</td>
</tr>
<tr>
<td>3</td>
<td>{{getFact(3)}}</td>
</tr>
<tr>
<td>4</td>
<td>{{getFact(4)}}</td>
</tr>
<tr>
<td>5</td>
<td>{{getFact(5)}}</td>
</tr>
<tr>
<td>5</td>
<td>{{getFact(6)}}</td>
</tr>
<tr>
<td>7</td>
<td>{{getFact(7)}}</td>
</tr>
<tr>
<td>8</td>
<td>{{getFact(8)}}</td>
</tr>
<tr>
<td>9</td>
<td>{{getFact(9)}}</td>
</tr>
<tr>
<td>10</td>
<td>{{getFact(10)}}</td>
</tr>
</table>  
</body>
</html>
