.main-container{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:larger;
font-weight: bolder;
font-size: 50px;
}

p{
    font-size: large;
    

}

.nav-link{
    color: aliceblue !important;
}
#content{

    
    position: absolute;
    left: 6%;
    top: 22%;
   
    
}