<!---<link https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js>
https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js
https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css--->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"></script>

<div >
    <div class="card card-responsive shadow p-3 mb-5 bg-white rounded ">
        <div class="card-header" style="margin-left:-15px;"><h3>Hi Gupta!</h3>
            <br>
            <p><b>Find fresh fruits what you want</b></p>
            <i class="fa fa-search" style="margin-left:10px;"aria-hidden="true"></i><input type="text" class="search" placeholder="Search for fruits" >
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>Recommended</h5>
                </div>
                <div class="col" style="margin-left:314px;margin-top:-30px;">
                    <p>View All</p>
                </div>
            </div>
            <div class="row">
                <div class="card col" style="height:250px;background-color:#EEC764;border-color:#EEC764; border-bottom-right-radius:60px;width:140px;margin-top:30px;">
                    <img src="./assets/a.PNG" style="width: 80%;left:100px;margin-left:10px;"><br>
                    <h6 style="text-align:center;color: white;">Banana</h6>
                    <p style="color:white;font-size:5px;text-align:center;">A banana is an elongated, edible fruit botanically a berry produced by several kinds of large herbaceous flowering plants in the genus Musa.</p>
                    <p style="color: white;margin-top:23px;">$1.99 each <i style="color:white;margin-left:20px;margin-top:-10px;" class="fa fa-heart" aria-hidden="true"></i><!---<svg xmlns="http://www.w3.org/2000/svg" style="margin-left:23px;" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                      </svg>---></p>
                    <button class="btn btn-light" style="border-radius:20px;margin-left:10px;margin-top:-10px">view more</button>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <div class="card col" style="height:250px;background-color:#E2675E;border-color:#E2675E; border-bottom-left-radius:60px;width:140px;margin-top:-273px;margin-left:230px">
                    <img src="./assets/b.PNG" style="width: 80%;text-align:center;margin-left:10px;"><br>
                    <h6 style="text-align:center;color: white;">Apple</h6>
                    <p style="color:white;font-size:5px;text-align:center;">A banana is an elongated, edible fruit botanically a berry produced by several kinds of large herbaceous flowering plants in the genus Musa.</p>
                    <p style="color: white;margin-top:30px;">$1.99 each <i style="color:white;margin-left:32px" class="fa fa-heart" aria-hidden="true"></i><!---<svg xmlns="http://www.w3.org/2000/svg" style="margin-left:110px;margin-top:-50px" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                      </svg>---></p>
                    <button class="btn btn-light" style="border-radius:20px;margin-left:30px;margin-top:-10px">view more</button>
                </div>
            </div>
           

        <div class="row">
            <img src="./assets/fruits.jpg" style="width: 40%;border-radius:100px;border:none;margin-left:115px" class="rounded-circle">
        </div>
        <!---<img src="./assets/fruits.jpg" class="rounded-circle" alt="...">--->



        
        <div class="row">
            <div class="card col" style="height:250px;background-color:#A8B868;border-color:#A8B868; border-top-right-radius:60px;margin-top:-10px;margin-left:-1px;width:140px;">
                <img src= "./assets/c.PNG" style="width: 80%;border-radius:40px;text-align:center;"><br>
                <h6 style="text-align:center;color: white;">Pineapple</h6>
                <p style="color:white;font-size:5px;text-align:center;">A banana is an elongated, edible fruit botanically a berry produced by several kinds of large herbaceous flowering plants in the genus Musa.</p>
                <p style="color: white;margin-top:30px;">$1.99 each <i style="color:red;margin-left:20px" class="fa fa-heart"  aria-hidden="true"></i><!---<svg xmlns="http://www.w3.org/2000/svg" style="margin-left:23px;" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>--></p>
                <button class="btn btn-light" style="border-radius:20px;margin-left:25px;margin-top:-10px;">view more</button>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card col" style="height:250px;background-color:#F3B46F;border-color:#F3B46F; border-top-left-radius:50px;MARGIN-TOP:-271PX;width:140px;margin-left:230px;">
            <img src="./assets/d.PNG" style="width: 80%;border-radius:40px;text-align:center;"><br>
            <h6 style="text-align:center;color: white;">Mango</h6>
            <p style="color:white;font-size:5px;text-align:center;">A banana is an elongated, edible fruit botanically a berry produced by several kinds of large herbaceous flowering plants in the genus Musa.</p>
            <p style="color: white;margin-top:40px;">$1.99 each <i style="color:white;margin-left:20px" class="fa fa-heart" aria-hidden="true"></i><!---<svg xmlns="http://www.w3.org/2000/svg" style="margin-left:23px;" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>---></p>
            <button class="btn btn-light" style="border-radius:20px;margin-left:25px;margin-top:-10px;">view more</button>
        </div>
    </div><br>
    <div style="margin-top:80px;margin-left:100px;border-radius:30px;">
        <button class="btn" style="background-color:#EB7123;border-radius:50px;border-radius:80px;width:250px;height:100px;text-align:center;margin-left:-51px;margin-top:-80px;"><font color="white" style="margin-top:100px;margin-left:-93px;padding-top:100px;">Best 50+ Freash Fruits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><button class="btn" style="background-color:white;border-radius:50px;border-radius:80px;width:60px;height:30px;text-align:center;margin-left:-150px;margin-top:50px;"><font color="black"><b>Go</b></font></button></button>
    </div>
</div>
<div class="card-footer" style="margin-top:10px;margin-left:40px;">
    <div class="bottom" ><i  class="fa fa-home" style="margin-left:-50px;font-size:40px;"aria-hidden="true"></i> <i style="margin-left:55px;font-size:40px;color:#EB7123" class="fa fa-cart-plus" aria-hidden="true"></i>  
        <i style="margin-left:55px;font-size:40px;" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px;font-size:40px;" class="fa fa-user-circle" aria-hidden="true"></i> </div>
    </div>


</div>
<!---
<div class="card-footer">
<div class="bottom" ><i style="color:#EB7123" class="fa fa-home" aria-hidden="true"></i> <i style="margin-left:55px" class="fa fa-cart-plus" aria-hidden="true"></i>  
    <i style="margin-left:55px" class="fa fa-commenting" aria-hidden="true"></i><i style="margin-left:55px" class="fa fa-user-circle" aria-hidden="true"></i> </div>
    <button class="button" style="color:white;margin-top:-100px;" ><b>Best 50+Freash Fruits</b><button class="btn" style="background-color:white;border-radius:20px"><font color="black">Go</font></button></button>
</div>--->






           <!--- <div class="row">
                <img src="./assets/fruits.jpg" style="width: 40%;border-radius:90px;border:none;margin-left:110px">
            </div>




            <div class="row">
                <div class="card col" style="height:230px;background-color:#A8B868;border-color:#A8B868; border-top-right-radius:60px">
                    <img src="./assets/pineapple.jpg" style="width: 80%;border-radius:40px"><br>--->

