<div class="form_container">
<form [formGroup]="myForm" (ngSubmit)="register(myForm.value)">
    Registration Page<br>
    <label>Name</label>
    <input type="text" formControlName="name" />
    <div *ngIf="myForm.get('name')!.touched && myForm.get('name')!.invalid">
        <div *ngIf="myForm.get('name')!.hasError('required')">
            <font color="red">*name is required</font>
        </div>
        <div *ngIf="myForm.get('name')!.hasError('pattern')">
            <font color="red">*name is Invalid</font>
        </div>
    </div><br>
    
    <label>Email</label>
    <input type="text" formControlName="email" />
    <div *ngIf="myForm.get('email')!.touched && myForm.get('email')!.invalid">
        <div *ngIf="myForm.get('email')!.hasError('required')">
            <font color="red">*email is required</font>
        </div>
        <div *ngIf="myForm.get('name')!.hasError('pattern')">
            <font color="red">*email is Invalid</font>
        </div>
    </div><br>

    <label>Age</label>
    <input type="text" formControlName="age" />
    <div *ngIf="myForm.get('age')!.touched && myForm.get('age')!.invalid">
        <div *ngIf="myForm.get('age')!.hasError('required')">
            <font color="red">*age is required</font>
        </div>
        <div *ngIf="myForm.get('age')!.hasError('pattern')">
            <font color="red">*age is Invalid</font>
        </div>
    </div>  <br>
    
    <label>Phone</label>
    <input type="phone" formControlName="phone" />
    <div *ngIf="myForm.get('phone')!.touched && myForm.get('phone')!.invalid">
        <div *ngIf="myForm.get('phone')!.hasError('required')">
            <font color="red">*phone is required</font>
        </div>
        <div *ngIf="myForm.get('phone')!.hasError('pattern')">
            <font color="red">*phone is Invalid</font>
        </div>
    </div>   <br> 
    <button [disabled]="myForm.invalid">Register</button>

</form>
</div>