<table>
    <tr><td><h1>Assignment 1 - Components!</h1></td></tr>
    <tr><td><app-assignment1-components-first></app-assignment1-components-first>
    <app-assignment1-components-second></app-assignment1-components-second>
<app-assignment1-components-third></app-assignment1-components-third></td></tr>
    <tr><td><h1>Assignment 2 - Forms!</h1></td></tr>
    <tr><td><app-assignment2-forms></app-assignment2-forms></td></tr>
    <tr><td><h1>Assignment 3 - Directives!</h1></td></tr>
    <tr><td><app-assignment3-directives></app-assignment3-directives></td></tr>
    <tr><td><h1>Assignment 4 - Services Works!</h1></td></tr>
    <tr><td><app-assignment4-services></app-assignment4-services></td></tr>
</table>

