<p>twoway-data-binding works!</p><br>
<h2><u>Two way data binding.</u></h2>
<b>Employeee Details:</b><br>
ID : {{eId}}<br>
Name : {{eName}}<br>
Salary : {{eSalary}}<br><br>
<img src="{{imagePath}}" height="{{imgHeight}}" width="{{imgWidth}}">
<br><br>
Enter your name : <input type="text" [(ngModel)]="name"/><br>
Welcome{{ name}}<br><br>
<button (click)="changeName()">Change Name</button>
<button (click)="changeId()">Change Id</button>
<button (click)="changeSalary()">Change Salary</button>
<button (click)="changeImage()">Change Image</button>
