<div class="container">
  <div class="row" style="margin-top: 4%;">
 
      <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary"> <a routerLink="Home"> Home </a> </button>

    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary"> <a routerLink="Contact"> Contact </a></button>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary"> <a routerLink="About"> About </a></button>
    </div>
  </div>
</div>

<div style="margin-top: 10%;text-align: center;">
  <P>Space for New Component</P>
  <router-outlet></router-outlet>
</div>