<div>
    <h1>Built-in Pipes</h1>
    <table border="1" cellpadding="10" cellspacing="10" style="border-collapse: collapse;">
        <tr><td>Upper Case Pipe </td><td>{{ name | uppercase }}</td></tr>
        <tr><td>Lower Case Pipe </td><td>{{ name | lowercase }}</td></tr>
        <tr><td>Title Case Pipe </td><td>{{ name | titlecase }}</td></tr>
        </table>
        <br>
        <table border="1" cellpadding="10" cellspacing="10" style="border-collapse: collapse;">
        <tr><td>Date Pipe </td><td>{{ date }}</td></tr>
        <tr><td>Date Pipe </td><td>{{ date | date: 'dd/MMM/yyyy' }}</td></tr>
        <tr><td>Date Pipe </td><td>{{ date | date: 'dd-MM-yy' }}</td></tr>
        <tr><td>Date Pipe </td><td>{{ date | date: 'fullDate' }}</td></tr>
        <tr><td>Date Pipe </td><td>{{ date | date: 'fullDate' | uppercase }}</td></tr>
        <tr><td>Date Pipe </td><td>{{ date | date: 'shortTime' }}</td></tr>
        </table>
        <br>
        <table border="1" cellpadding="10" cellspacing="10" style="border-collapse: collapse;">
            <tr><td>Percent Pipe</td><td>{{ 00.54565 | percent }}</td></tr>
            <tr><td>Currency Pipe</td><td>{{ 6589.23 | currency:"USD" }}</td></tr>
        </table>  
    </div>