#top{
    width: 100%;
    height: 15%;
    position: absolute;
}


#left{
    margin-top: 14%;
  
}
#right{
    margin-top: 14%;
   
}
button{
    margin: 4px;
    color: antiquewhite;
}
.toolbar {
    flex: 1 1 auto;
  }
  font{
    color: red;
  }
