<h2>Assignment - 3 </h2>

    <div>
    <h1 style="color: red;">FRUIT</h1><br>
    <h1>NUTRITIONAL INFORMATION</h1>
    <hr style="height: 15px; width: 100%; background-color: black;">
    </div>

<div class='table-responsive'> 
    <table class='table'>  
        <thead>  
            <tr>  
                <th>Fruit</th>  
                <th>Carbohydrate</th>  
                <th>Water</th>  
                <th>Calories</th>  
            </tr>  
        </thead> 
       
        <tbody>  
            <tr *ngFor="let fruit of fruits">  
                <td>{{fruit.name}}</td>  
                <td style="background-color: lightgray;">{{fruit.carbohydrate}}</td>  
                <td>{{fruit.water}}</td>  
                <td style="background-color: lightgray;">{{fruit.calories}}</td>  
            </tr>  
        </tbody>  
    </table>
    <hr style="width: 100%; height: 10px;background-color: black;">
</div>
<p style="color: red;">All serving size 100g,apart from fruit juice,nobody drinks only 100ml.</p>

