<h1>Angular - Routing Examples Projects : - </h1>
<div class="myDiv" >
  <table width="100%" [cellSpacing]="15" [cellPadding]="10"  >
    <tr>
      <td><a routerLink="Home" class="top" ><b>Home</b></a></td>
      <td><a routerLink="Contact" class="top"><b>Contact</b></a></td>
      <td><a routerLink="About" class="top" ><b>About</b></a></td>
    </tr>
  </table>
  <hr/>
  <div class="class" >
    This is the Spaces for New Components.
  <router-outlet></router-outlet>
 <!--- <app-home></app-home>
  <app-contact></app-contact>
  <app-about></app-about>--->
  </div>
</div>
<app-tables></app-tables>
