<body>
<p>Assignment 2 without TS</p>
    <div class="div2">
        <table>
            <tr><td colspan="2"><img src="https://img.freepik.com/premium-photo/city-graphic-black-white-cityscape-skyline-sketch-generative-ai_446633-8286.jpg" width="250" height="150" alt=""></td></tr>
            <tr><td>FIRST NAME</td><td>LAST NAME</td></tr>
            <tr><td><input type="text" size="14"></td><td><input type="text" size="6"></td></tr>
            <tr><td>USERNAME</td></tr>
            <tr><td  colspan="2"><input type="text" size="28"></td></tr>
            <tr><td>EMAIL</td></tr>
            <tr><td  colspan="2"><input type="text" size="28"></td></tr>
            <tr><td>PH.NUMBER</td></tr>
            <tr><td  colspan="2"><input type="text" size="28"></td></tr>
            <tr><td>PASSWORD</td></tr>
            <tr><td  colspan="2"><input type="text" size="28"></td></tr>
            <tr><td>CONFIRM PASSWORD</td></tr>
            <tr><td  colspan="2"><input type="text" size="28"></td></tr>
            <tr><td colspan="2"><button>SUBMIT</button></td></tr>
        </table>
    </div>
<br>
<br>   
</body>
