<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MyWebProject2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>organization</param-name>
		<param-value>Relevantz</param-value>
	</context-param>
	
	<servlet>
		<description></description>
		<display-name>servlet1</display-name>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>com.servlet.conf.servlet1</servlet-class>

		<init-param>
			<param-name>fname</param-name>
			<param-value>Shiva</param-value>
		</init-param>

		<init-param>
			<param-name>lname</param-name>
			<param-value>M</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>servlet2</display-name>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>com.servlet.conf.servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
</web-app>