<p>pipe-component</p>
<br>
<br>
<div>
    <table class="table table-bordered" style="width: 50%;">
        <tr>
            <td>Upper Case Pipe :</td><td>{{name | uppercase}}</td>
        </tr>
        <tr>
            <td>Lower Case Pipe :</td><td>{{name | lowercase}}</td>
        </tr>
        <tr>
            <td>Title Case Pipe :</td><td>{{name | titlecase}}</td>
        </tr>
    </table>

    <br>

    <table class="table table-bordered" style="width: 50%;">
        <tr>
            <td>Date Pipe :</td><td>{{date}}</td>
        </tr>
        <tr>
            <td>Date Pipe :</td><td>{{date | date:'dd/MMM/yyyy'}}</td>
        </tr>
        <tr>
            <td>Date Pipe :</td><td>{{date | date:'dd-MM-yy'}}</td>
        </tr>
        <tr>
            <td>Date Pipe :</td><td>{{date | date:'fullDate'}}</td>
        </tr>
        <tr>
            <td>Date Pipe :</td><td>{{date | date:'fullDate' | uppercase}}</td>
        </tr>
        <tr>
            <td>Date Pipe :</td><td>{{date | date:'shortTime'}}</td>
        </tr>
    </table>
    
    <br>
    
    <table class="table table-bordered" style="width: 50%;">
        <tr>
            <td>Percent Pipe :</td><td>{{00.61985 | percent}}</td>
        </tr>
        <tr>
            <td>Currency Pipe :</td><td>{{7652 | currency:"EUR"}}</td>
        </tr>
    </table>

</div>

<div>
    <br>{{arr1}}
    <br><br>{{arr1 | sort: 'reverse'}} 
    <br><br>{{arr1 | sort:'ascending'}} 
    <br><br>{{arr1 | sort:'descending'}}
    <hr>
    <br>{{arr2}}
    <br><br>{{arr2 | sort: 'reverse'}} 
    <br><br>{{arr2 | sort:'ascending'}} 
    <br><br>{{arr2 | sort:'descending'}}
</div>

